*,*:after,*:before {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    color: #333;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: 'Lato','Nanum Gothic' sans-serif;
    line-height: 1.5;
}
body.lock {
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
section {
    min-height: 100vh;
    width: calc(100vw - 17px);
    position: relative;
}
body.lock section {
    width: 100vw;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.readyPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.6rem;
    font-weight: 700;
}
header {
    position: fixed;
    width: 100%;
    z-index: 333;
}
.gnbList {
    font-size: 2.0rem;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    width: 100%;
    justify-content: center;
}
.gnbList li a {
    display: block;
    padding: 35px 40px;
    position: relative;
    transition: 0.25s ease;
}
.gnbList li a:after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    background: #a170b7;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.25s ease;
    transform: scale(0);
}
.gnbList li a:hover {
    color: #a170b7;
}
.gnbList li a:hover:after {
    transform: scale(1);
}
#main {
    padding-top: 90px;
    background-image: url("../images/ben-white-eeiAnugy2Hs-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
}
#main .txtBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}
#main .txtBox p {
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}
#main .txtBox p.top {
    opacity: 0;
    animation-delay: 0.5s;
}
#main .txtBox p.middle {
    opacity: 0;
    animation-delay: 1.5s;
}
#main .txtBox p.bottom {
    opacity: 0;
    animation-delay: 2.5s;
}
#main .txtBox:before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 180px;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
}
#main .txtBox:after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 180px;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.5);
}
#main .txtBox span {
    font-size: 3rem;
    font-weight: 700;
}
#main .txtBox .middle {
    font-size: 2.4rem;
}
#main .txtBox p {
    padding: 100px 0;
}
#main .scroll {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#about {
    background: url('../images/bernard-hermant-PrZw3_3xUxI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
#about::before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #35398b70;

}
#about .container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 100px;
}
#about .container > div {
    height: 650px;
    z-index: 33;
}
#about .selfBox {
    width: 345px;
    text-align: center;
    background-color: #fff;
}
#about .selfBox .imgBox {
    padding: 15px;
    margin-bottom: 15px;
}
#about .selfBox .imgBox img {
    width: 100%;
}
#about .selfBox .name {
    font-weight: 700;
}
#about .selfBox .wecode {
    color: #666;
    font-size: 1.3rem;
}
#about .contact {
    margin-top: 10px;
}
#about .contact a:hover {
    color: royalblue;
}
#about .letter {
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 1.7;
    color: #111;
    margin: 0 10px;
    width: 345px;
    padding: 40px 20px;
}
#about .letter .title {
    color: #1200ff;
    font-weight: 700;
}

#about .skills {
    width: 710px;
    background-color: #fff;
}
#about .skills .tabList {
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
#about .skills .tabList li {
    padding: 12px 30px;
    cursor: pointer;
}
#about .skills .tabList li.on {
    color: royalblue;
    position: relative;
    font-weight: 700;
}
#about .skills .tabList li.on::after {
    position: absolute;
    display: block;
    content: "";
    left: 5px;
    right: 5px;
    height: 2px;
    bottom: 0;
    background-color: royalblue;
}
#about .skills .tabContent li.tab {
    width: 100%;
    height: 600px;
    padding: 30px;
    display: none;
}
#about .skills .tabContent li .images ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
#about .skills .tabContent li .images li {
    max-width: 250px;
    height: 120px;
    margin-right: 25px;
    margin-bottom: 15px;
}
#about .skills .tabContent li .images li img {
    height: 100%;
}
#about .skills .tabContent li.on {
    display: block;
}
#about .skills .tabContent li h3 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}
.modal.on {
    display: block;
}
.modal .imgBox {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px 0;
    transform: translate(-50%,-50%);
    height: 80vh;
    background-color: #fff;
}
.modal .imgBox .img {
    height: 100%;
}
.modal .btnClose {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: none;
    background-color: transparent;
}
.modal .btnClose i {
    font-size: 3.6rem;
    font-weight: 500;
    color: #fff;
}

footer {
    background-color: #333;
    font-size: 1.4rem;
    padding: 50px 150px;
    color: rgba(255, 255, 255, 0.8);
}
footer address li {
    margin: 15px 0;
}
footer address span {
    display: inline-block;
    font-weight: 700;
    width: 90px;
    margin-right: 10px;
    position: relative;
}
footer address span:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: rgba(255,255,255,0.8);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* @keyframes scrollMove {
    
} */